/img/plots/theory/bb-spectra.pdf
/img/plots/theory/majorons-spectra.pdf
/img/plots/history/0nbb-ge76-history.pdf
/img/plots/bkg/raw/combined-data.pdf
/img/plots/bkg/raw/combined-results.pdf
/img/setup/gedet-showcase.png
/img/setup/gerda-events.png
/slides.pdf
