.auxtex
*.aux
*.log
*.out
*.bbl
*.blg
*.xml
*.synctex.*

/src/main.pdf
/src/img/setup/mage-volumes.pdf
/src/img/setup/gerda-overview.pdf
/src/img/setup/pic-collage.pdf
/src/img/gedet/*.pdf
/src/img/gedet/*.png
/src/img/plots/0nbb-ge76-history.pdf
/src/img/plots/gerda-history.pdf
/src/img/plots/theory/0nbbfey.pdf
/src/img/plots/theory/2nbbfey.pdf
/src/img/plots/theory/gesix-levels.pdf
/src/img/plots/theory/masspar.pdf
/src/img/plots/theory/bb-spectra.pdf
/src/img/plots/theory/0nbbxfey.pdf
/src/img/plots/theory/0nbbxxfey.pdf
/src/img/plots/theory/majorons-spectra.pdf

*.DS_Store
*.swp
*.swo
