.auxtex
*.aux
*.log
*.out
*.bbl
*.blg
*.xml
*.synctex.*

/src/main.pdf
/src/img/setup/mage-volumes.pdf
/src/img/plots/gerda-timeline.pdf
/src/img/setup/gerda-overview.pdf
/src/img/setup/pic-collage.pdf
/src/img/gedet/*.pdf
/src/img/gedet/*.png
/src/img/plots/0nbbfey.pdf
/src/img/plots/2nbbfey.pdf
/src/img/plots/gesix-levels.pdf
/src/img/plots/masspar.pdf
/src/img/plots/bb-spectra.pdf
/src/img/plots/0nbbxfey.pdf
/src/img/plots/0nbbxxfey.pdf
/src/img/plots/majorons-spectra.pdf

*.DS_Store
*.swp
*.swo
