.auxtex
*.aux
*.log
*.out
*.bbl
*.blg
*.xml
*.synctex.*

/src/main.pdf
/src/img/setup/mage-volumes.pdf
/src/img/setup/gerda-overview.pdf
/src/img/setup/pic-collage.pdf
/src/img/gedet/*.pdf
/src/img/gedet/*.png
/src/img/plots/0nbb-ge76-history.pdf
/src/img/plots/gerda-history.pdf
/src/img/plots/theory/0nbbfey.pdf
/src/img/plots/theory/2nbbfey.pdf
/src/img/plots/theory/gesix-levels.pdf
/src/img/plots/theory/masspar.pdf
/src/img/plots/theory/bb-spectra.pdf
/src/img/plots/theory/0nbbxfey.pdf
/src/img/plots/theory/0nbbxxfey.pdf
/src/img/plots/theory/majorons-spectra.pdf
/src/img/plots/lar/lar-triplet.pdf
/src/img/plots/0nbb-results/calib/supercalib.pdf
/src/img/plots/bkg/raw/ph2/pdfs/macros/gerda-pdfs
/src/img/plots/bkg/raw/ph2/pdfs/macros/bb-histos.root
/src/img/plots/bkg/raw/ph2/results/kmodel/kmodel-asym.pdf
/src/img/plots/bkg/raw/ph2/results/amodel/amodel-timealpha.pdf

*.DS_Store
*.swp
*.swo
